
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
p{
  line-height: 2;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:  #EAF6F6;
  line-height:2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color:  #11999E;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.main-container{
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
}
.profileimg{
  width: 15%;
}

.top-container{
  background-color: #66bfbf;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

}
.middle-container{
  padding: 100px 0;
  background-color: #ccf2f4;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.edurow{
  width: 50%;
  height: 200px;
  margin: 100px auto 100px auto;
  text-align: left;
}
.edu1{
  width: 230px;
  height: 200px;
  float: right;
  margin-right: 30px;
}
.edu2{
  width: 230px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.edu3{
  width: 230px;
  height: 200px;
  float: right;
  margin-right: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro{
  width: 30%;
  margin: auto;
}
.skill0{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.getintouch{
  font-size: 2rem;
}
.contactmessage{
  width: 40%;
  margin: 40px auto 60px;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 600;
   padding: 12px;
   -webkit-box-shadow: 0 0 6px 0 #000000;
   -moz-box-shadow: 0 0 6px 0 #000000;
   box-shadow: 0 0 6px 0 #000000;
   border: solid #11999E 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
